
.message {
    display: flex;
    background-color: greenyellow;
    margin: 10px;
    align-items: flex-end;
    padding: 5px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.angle {
    width: 15px;
    height: 15px;
    margin-right: -10px;
    background: radial-gradient(circle at 1px 3px, rgba(0, 0, 0, 0) 10px, rgba(0, 34, 0, .9) 0);
}


.content {
    background-color: #002200;
    padding: 15px 20px;
    border-radius: 5%;
    margin-left: 5px;
}

.name {
    color: #8482AD;
    margin-bottom: 10px;
    font-weight: bold;
}

.text {
    color: white;
}

.time {
    color: #315332;
    display: flex;
    justify-content: flex-end;
}